.course-card {
    color: white;
    width: 15rem;
    border-radius: 0;
    margin: 0.5rem;
}

.course-card .card-subtitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.course-card:hover {
    cursor: pointer;
}

@media screen and (max-width: 540px) {
    .course-card {
        width: 95%;
    }
}

.card-title {
    font-family: 'Fira Sans', sans-serif;
}
